<%= form_tag coupons_path do %>
    <label>New Coupon Form</label><br>
    <b>
    <label>Coupon Code</label>
    <%= text_field_tag :coupon_code %><br>
  
    <label>Store</label>
    <%= text_field_tag :store %><br>
  
    <%= submit_tag "Submit Coupon" %>
  <% end %>